
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";        
}

<head>
    <script type="text/javascript" src="~/Scripts/LoginScript1.js"></script>
</head>
<div class="row login-wrapper">
    <div class="col login-container">
        <h2>Login</h2>

        <form action="/login" method="post" onsubmit="" class="form">

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required >
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <div>
                <button type="submit" name="loginBtn" value="Login" id="loginBtn" onclick="login()">Login</button>
            </div>
        </form>

        <p>
            Don't have an account? @Html.ActionLink("Register Here", "RegistrationPage", "Authentication", new { msg = "Hello from action link" }, null)
        </p>

    </div>
</div>