@model List<WebApplication_Assignment_SkillsLab2023.Models.UserRolesModel>

@{
    ViewBag.Title = "RoleSelectionPage";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript" src="~/Scripts/UserRoleManagement/RedirectToUserRoleScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Styling/RoleSelectionPage.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>

<body>
    @if (Model != null && Model.Any())
    {
        <form>
            <h2>Login as</h2>
            @foreach (var role in Model)
            {
                <label>
                    <input type="radio" name="selectedRole" value="@role.RoleId" />
                    @role.RoleName
                </label>
            }

            <input class="btn btn-primary col-md-12"  type="submit" value="Submit" onclick="RedirectToUserRole()" />
        </form>
    }
    else
    {
        <p>No roles available.</p>
    }
</body>

