<head>
    <link rel="stylesheet" href="~/Content/Styling/AdminCreatePrerequisite.css">
</head>
<div class="create-prerequisite-container">
    <h3>Create Prerequisite</h3>
    <form id="createPrerequisiteForm" class="createPrerequisiteForm">
        <div class="prerequisite-description-inputs">
            <label for="prerequisiteDescription">Prerequisite Description:</label>
            <input type="text" id="prerequisiteDescription" required>
        </div>
        <div class="button-container col-md-3">
            <button class="btn btn-primary" type="submit">Create Prerequisite</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const createPrerequisiteForm = document.getElementById('createPrerequisiteForm');
        createPrerequisiteForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const prerequisiteDescription = document.getElementById('prerequisiteDescription').value;
            fetch('/Training/CreatePrerequisitesAsync', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    prerequisiteDescription: prerequisiteDescription,
                }),
            })
            .then(response => response.json())
                .then(data => {
                if (data.result) {
                    toastr.success(data.message);
                    createPrerequisiteForm.reset();
                } else {
                    toastr.error(data.message);
                }
            })
            .catch(error => {
                toastr.error(data.message);
            });
        });
    });
</script>
