
@{
    ViewBag.Title = "ManagerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Styling/ManagerViewStyling.css" rel="stylesheet" />
</head>
<div class="manager-view-container">
    <div class="user-details-container">
        <span><h4>Admin Dashboard</h4></span>
        <span><h5>User: User Name + User first name Logged in</h5></span>
    </div>

    @Html.Partial("_ManagerViewEmployeeEnrolmentsPartialView", new ViewDataDictionary { { "ListOfEmployeeEnrolments", ViewBag.ListOfEmployeeEnrolment } } )
</div>

