
@{
    ViewBag.Title = "ManagerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Styling/ManagerViewStyling.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<div class="manager-view-container">
    <div class="user-details-container">
        <span><h4>Manager Dashboard</h4></span>
        <span><h5>User: @Session["CurrentUserFullName"] Logged in</h5></span>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pending-enrolments-tab" data-bs-toggle="tab" data-bs-target="#pending-enrolments" type="button" role="tab" aria-controls="pending-enrolments" aria-selected="true"><h4>Pending Enrolment</h4></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="enrolment-history-tab" data-bs-toggle="tab" data-bs-target="#enrolment-history" type="button" role="tab" aria-controls="enrolment-history" aria-selected="false"><h4>Employee Enrolment history</h4></button>
        </li>
    </ul>
    <div class="tab-management">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pending-enrolments" role="tabpanel" aria-labelledby="pending-enrolments-tab">
                @Html.Partial("_ManagerViewEmployeeEnrolmentsPartialView", new ViewDataDictionary { { "ListOfEmployeeEnrolments", ViewBag.ListOfEmployeeEnrolment } })
            </div>
            <div class="tab-pane fade" id="enrolment-history" role="tabpanel" aria-labelledby="pending-enrolments-tab">
                @Html.Partial("_ManagerViewEmployeeEnrolmentsHistoryPartialView", new ViewDataDictionary { { "ListOfEmployeeHistoryEnrolments", ViewBag.ListOfEmployeeHistoryEnrolments } })
            </div>
        </div>
    </div>
</div>

