.collapse-row-styling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: end;
    align-items: baseline;
}
.pending-user-accounts-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pending-user-accounts-container table {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}