.create-training-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.createTrainingForm {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
}
.create-training-container input,
.create-training-container textarea,
.create-training-container select {
    width: 100%;
    max-width: none !important; /* Override max-width from site.css */
}
.button-container{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;

    
}
.prerequisite-container{
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.add-prerequisite {
    gap: 20px;
    padding:0px;
}
.inner-button-container {
    width:100%;
    display: flex;
    justify-content: space-between;
}