.login-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
}

.login-container {
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 1rem;
    padding: 2rem;
    width: 20%;
}
.login-container > h2 {
    text-align:center;
}
.loginForm {
    max-width: 100%;
    margin: auto;
}

.loginForm>label {
    display: block;
    padding: 1rem;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p {
    margin-top: 16px;
    text-align: center;
}
